In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv("data/Loksabha2019.csv")

In [4]:
data.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\r\nVOTES,POSTAL\r\nVOTES,TOTAL\r\nVOTES,OVER TOTAL ELECTORS \r\nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\r\n ~ 30 Lacs+","Rs 2,31,450\r\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\r\n ~ 1 Crore+","Rs 8,47,000\r\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\r\n ~ 3 Crore+","Rs 1,53,00,000\r\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790
3,Telangana,ADILABAD,NOTA,0,NOTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13030,6,13036,0.875023,1.225214,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,"Rs 7,42,74,036\r\n ~ 7 Crore+","Rs 86,06,522\r\n ~ 86 Lacs+",644459,2416,646875,33.383823,56.464615,1937690

In [5]:
data.isna().sum()

STATE                                            0
CONSTITUENCY                                     0
NAME                                             0
WINNER                                           0
PARTY                                            0
SYMBOL                                         245
GENDER                                         245
CRIMINAL\r\nCASES                              245
AGE                                            245
CATEGORY                                       245
EDUCATION                                      245
ASSETS                                         245
LIABILITIES                                    245
GENERAL\r\nVOTES                                 0
POSTAL\r\nVOTES                                  0
TOTAL\r\nVOTES                                   0
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY          0
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY      0
TOTAL ELECTORS                                   0
dtype: int64

In [6]:
data.shape

(2263, 19)

In [7]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                               object
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                          object
LIABILITIES                                     object
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [8]:
data_bkup = data.copy()

In [9]:
data['PARTY'].unique()

array(['BJP', 'TRS', 'INC', 'NOTA', 'BSP', 'NCP', 'VBA', 'APoI', 'CPI(M)',
       'BDJS', 'AITC', 'RSP', 'SP', 'YSRCP', 'TDP', 'JnP', 'INLD', 'SBSP',
       'IND', 'SHS', 'AAP', 'SAD', 'JKN', 'JKPDP', 'JPC', 'DMK', 'PMK',
       'NTK', 'MNM', 'AIADMK', 'RJD', 'CPI(ML)(L)', 'SSD', 'PPA', 'JD(S)',
       'NPEP', 'BMUP', 'BJD', 'AIMIM', 'HAMS', 'AHFBK', 'PPID', 'SPL',
       'ASDC', 'RLD', 'PSPL', 'JD(U)', 'BTP', 'AIFB', 'AGP', 'AIUDF',
       'ABSKP', 'PUNEKP', 'RTORP', 'JNJP', 'LTSP', 'RVNP', 'JANADIP',
       'SDPI', 'DMDK', 'ABGP', 'VCK', 'JMM', 'LIP', 'JDR', 'MOSP', 'MADP',
       'AJPR', 'PMP', 'BBMP', 'AJSUP', 'JVM', 'RMPOI', 'LJP', 'BJKVP',
       'SWP', 'NEINDP', 'RSPSR', 'ravp', 'RSOSP', 'BLSP', 'WPOI',
       'SUCI(C)', 'SJDD', 'ANC', 'JDL', 'VSIP', 'AAM', 'JKP', 'BOPF',
       'UPPL', 'CPIM', 'GGP', 'KEC(M)', 'KEC', 'JAPL', 'AKBMP', 'TJS',
       'IUML', 'BSCP', 'ADAL', 'BRPI', 'MNF', 'PRISMP', 'VPI', 'YKP',
       'NDPP', 'RLTP', 'RAHIS', 'NPF', 'BLSD', 'BVA', 'NAWPP', 'AINRC',
       'BNDl', 'MSHP', 'BARESP', 'BLRP', 'AIPF', 'WAP', 'VCSMP', 'SAD(M)',
       'UDP', 'SKM', 'SDF', 'PDP', 'JHP', 'TMC(M)', 'IPFT', 'JKNPP',
       'DSSP', 'AHNP', 'PHJSP'], dtype=object)

In [10]:
data['PARTY'].nunique()

133

In [11]:
#Party vs assets

In [12]:
def converter(x):
    try : 
        x=x.split("\n")[0]
        x=x.split()[1]
        x=x.replace(",","")
        x=float(x)
    except:
        x=0
    return x

In [13]:
def CC_converter(x):
    try : 
        x=int(x)
    except:
        x=0
    return x

In [14]:
data['LIABILITIES'] = data['LIABILITIES'].apply(lambda x : converter(x))

In [15]:
data['CRIMINAL\r\nCASES'] = data['CRIMINAL\r\nCASES'].apply(lambda x : CC_converter(x))

In [16]:
data['ASSETS'] = data['ASSETS'].apply(lambda x : converter(x))

In [17]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                                int64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [18]:
data.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\r\nVOTES,POSTAL\r\nVOTES,TOTAL\r\nVOTES,OVER TOTAL ELECTORS \r\nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,3099414.0,231450.0,376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,18477888.0,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,36491000.0,15300000.0,314057,181,314238,21.092771,29.534285,1489790
3,Telangana,ADILABAD,NOTA,0,NOTA,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,13030,6,13036,0.875023,1.225214,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,74274036.0,8606522.0,644459,2416,646875,33.383823,56.464615,1937690

# EDA

In [19]:
#Party vs asset
asset_p = data.groupby('PARTY').sum()['ASSETS']
asset_p.sort_values(ascending=False).head(10)

PARTY
INC      8.325687e+10
BJP      5.684680e+10
YSRCP    1.573639e+10
TDP      1.444498e+10
BSP      1.247601e+10
IND      9.376212e+09
SP       8.164099e+09
TRS      7.798791e+09
NCP      7.096770e+09
DMK      5.637461e+09
Name: ASSETS, dtype: float64

In [20]:
#kerala assest
assets_kerala = data[data['STATE']=='Kerala'].groupby('PARTY').mean()['ASSETS']
assets_kerala.sort_values(ascending=False)

PARTY
INC       5.792125e+07
IUML      3.051790e+07
KEC       2.764370e+07
KEC(M)    2.602748e+07
BJP       2.359935e+07
RSP       1.750065e+07
CPI(M)    1.745163e+07
BDJS      5.633545e+06
IND       5.436137e+06
SDPI      2.094454e+06
Name: ASSETS, dtype: float64

In [21]:
#party vs cases
asset_p_c = data.groupby('PARTY').sum()['CRIMINAL\r\nCASES']
asset_p_c.sort_values(ascending=False).head(10)

PARTY
BJP       898
INC       734
BSP       175
CPI(M)    168
IND       131
SP         74
SHS        62
NCP        54
RJD        52
VBA        44
Name: CRIMINAL\r\nCASES, dtype: int64

In [22]:
# Age profiling of candidates

In [23]:
#most occured age
age_group_c = data.groupby('AGE').count()['PARTY']
age_group_c.sort_values(ascending = False).head()

AGE
55.0    67
52.0    66
58.0    63
46.0    62
48.0    62
Name: PARTY, dtype: int64

In [24]:
#party age count
party_ageg_c = data.groupby(['PARTY','AGE']).count()['STATE']
party_ageg_c.sort_values(ascending=False)

PARTY  AGE
BJP    59.0    21
       58.0    18
       55.0    18
       52.0    17
       54.0    17
               ..
NAWPP  68.0     1
MSHP   38.0     1
MOSP   27.0     1
MNM    72.0     1
AAM    25.0     1
Name: STATE, Length: 823, dtype: int64

In [25]:
#Gender diversity

In [26]:
#gender count
gender_c = data.groupby('GENDER').count()['STATE']
gender_c

GENDER
FEMALE     258
MALE      1760
Name: STATE, dtype: int64

In [27]:
#gender count in states
female = data[data['GENDER']=='FEMALE']
female_c = female.groupby('STATE').count()['GENDER']
female_c.sort_values(ascending=False)

STATE
West Bengal             37
Uttar Pradesh           34
Tamil Nadu              27
Bihar                   21
Maharashtra             19
Odisha                  16
Madhya Pradesh          13
Andhra Pradesh          11
Rajasthan                8
Chhattisgarh             8
Gujarat                  8
Telangana                8
Kerala                   7
Jharkhand                7
Punjab                   7
Haryana                  6
Karnataka                5
Assam                    4
NCT OF Delhi             3
Tripura                  2
Uttarakhand              1
Puducherry               1
Meghalaya                1
Dadra & Nagar Haveli     1
Chandigarh               1
Arunachal Pradesh        1
Jammu & Kashmir          1
Name: GENDER, dtype: int64

In [28]:
#Party vs seats

In [29]:
#party winn seat
Winner = data[data['WINNER']== 1]
Winner_party = Winner.groupby('PARTY').count()['STATE']
Winner_party.sort_values(ascending=False)

PARTY
BJP       300
INC        52
DMK        23
YSRCP      22
AITC       22
SHS        18
JD(U)      16
BJD        11
BSP        11
TRS         9
LJP         6
SP          5
CPI(M)      5
NCP         5
IND         4
IUML        3
JKN         3
TDP         3
SAD         2
ADAL        2
AIMIM       2
JMM         1
AIADMK      1
AIUDF       1
AJSUP       1
SKM         1
RSP         1
VCK         1
RLTP        1
NPF         1
NPEP        1
NDPP        1
MNF         1
JD(S)       1
KEC(M)      1
AAP         1
Name: STATE, dtype: int64

In [30]:
# state wice party seat count
party_con_c = data.groupby(['STATE','PARTY']).count()['CONSTITUENCY']
party_con_c.sort_values(ascending=False)

STATE                      PARTY
Uttar Pradesh              BJP        78
Bihar                      IND        67
Uttar Pradesh              INC        67
Maharashtra                VBA        47
West Bengal                BJP        42
                                      ..
Lakshadweep                JD(U)       1
                           INC         1
West Bengal                SUCI(C)     1
Kerala                     KEC(M)      1
Andaman & Nicobar Islands  AAP         1
Name: CONSTITUENCY, Length: 328, dtype: int64

In [31]:
#party participated count
party_seats_c = data.groupby('PARTY').count()['CONSTITUENCY']
party_seats_c.sort_values(ascending=False)

PARTY
BJP       420
INC       413
NOTA      245
IND       201
BSP       163
         ...
SDF         1
SJDD        1
BSCP        1
KEC(M)      1
ravp        1
Name: CONSTITUENCY, Length: 133, dtype: int64

In [32]:
#Vote summary

In [33]:
#Party wise average votes
votes_mean = data.groupby('PARTY').mean()['GENERAL\r\nVOTES']
votes_mean.sort_values(ascending=False)

PARTY
RLTP      655496.000000
AJSUP     646864.000000
YSRCP     616578.120000
DMK       599560.521739
BJP       542675.021429
              ...
AKBMP      10109.000000
ABSKP       9910.000000
BBMP        9886.000000
BARESP      9563.000000
ravp        9096.000000
Name: GENERAL\r\nVOTES, Length: 133, dtype: float64

In [34]:
#party wise avg votes in each state
votes_states_mean = data.groupby(['PARTY','STATE']).mean()['GENERAL\r\nVOTES']
votes_states_mean.sort_values(ascending=False)

PARTY  STATE
BJP    Rajasthan                    785317.166667
       Madhya Pradesh               736409.068966
       Haryana                      731726.900000
       NCT OF Delhi                 699578.714286
       Gujarat                      692394.384615
                                        ...
NOTA   Dadra & Nagar Haveli           2950.000000
AAP    Andaman & Nicobar Islands      2837.000000
BSP    Andaman & Nicobar Islands      2478.000000
NOTA   Daman & Diu                    1487.000000
JD(U)  Lakshadweep                    1339.000000
Name: GENERAL\r\nVOTES, Length: 328, dtype: float64

In [35]:
#Significance of education

In [36]:
#Winners education status count
winners = data[data['WINNER']==1]
edu_winner_c = winners.groupby('EDUCATION').count()['STATE']
edu_winner_c.sort_values(ascending=False)

EDUCATION
Post Graduate            134
Graduate                 132
Graduate Professional     99
12th Pass                 69
10th Pass                 45
Doctorate                 23
Others                    17
8th Pass                  12
5th Pass                   4
Literate                   2
Post Graduate\r\n          1
Illiterate                 1
Name: STATE, dtype: int64

In [37]:
#winners with pg Party wise 
pg = winners[winners['EDUCATION']=='Post Graduate']
party_edu_c = pg.groupby('PARTY').count()['WINNER']
party_edu_c.sort_values(ascending=False)

PARTY
BJP       77
INC       15
YSRCP      8
DMK        6
AITC       5
JD(U)      3
SHS        3
BSP        2
SP         2
BJD        2
SAD        1
NPEP       1
NCP        1
JKN        1
TRS        1
SKM        1
AIUDF      1
TDP        1
AIMIM      1
AIADMK     1
ADAL       1
Name: WINNER, dtype: int64

In [38]:
#Polling percent analysis

In [39]:
#poll percentage of each constituency
poll_per = data.groupby('CONSTITUENCY').mean()['OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY']
poll_per.sort_values(ascending=False)

CONSTITUENCY
BAGHPAT          49.161683
MUZAFFARNAGAR    49.107400
NOWGONG          48.964666
MAINPURI         48.834769
KANNAUJ          48.809625
                   ...
SHEOHAR          11.899894
SUPAUL           11.601774
CHATRA           11.384801
UJIARPUR         10.610650
GAYA (SC)         8.186568
Name: OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY, Length: 539, dtype: float64

In [40]:
#poll percentage of each state
poll_states = data.groupby('STATE').mean()['OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY']
poll_states.sort_values(ascending=False)

STATE
Himachal Pradesh             38.734663
Karnataka                    35.015988
Nagaland                     33.076444
Lakshadweep                  32.762727
Kerala                       31.143921
Uttarakhand                  30.344789
Gujarat                      28.892192
NCT OF Delhi                 28.566881
Rajasthan                    28.374001
Uttar Pradesh                28.344164
Meghalaya                    28.184520
Madhya Pradesh               27.107376
Assam                        26.135789
Daman & Diu                  24.772501
Goa                          24.626441
Sikkim                       24.190612
Maharashtra                  24.172250
Odisha                       24.111906
Chandigarh                   23.902082
Haryana                      23.610810
Chhattisgarh                 23.522112
West Bengal                  21.192109
Punjab                       20.217098
Andhra Pradesh               20.198867
Jammu & Kashmir              19.916301
Mizoram                      19.791745
Manipur                      19.730939
Telangana                    19.715687
Tripura                      19.373625
Puducherry                   19.372003
Andaman & Nicobar Islands    19.274535
Jharkhand                    18.278831
Arunachal Pradesh            17.835240
Tamil Nadu                   16.964426
Bihar                        15.565558
Dadra & Nagar Haveli         13.878790
Name: OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY, dtype: float64

# Preprocessing

In [41]:
data = data.drop(['NAME','SYMBOL','GENERAL\r\nVOTES', 'POSTAL\r\nVOTES', 'TOTAL\r\nVOTES',
       'OVER TOTAL ELECTORS \r\nIN CONSTITUENCY',
       'OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY'],axis=1)

In [42]:
data.head()

,STATE,CONSTITUENCY,WINNER,PARTY,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,TOTAL ELECTORS
0,Telangana,ADILABAD,1,BJP,MALE,52,52.0,ST,12th Pass,3099414.0,231450.0,1489790
1,Telangana,ADILABAD,0,TRS,MALE,0,54.0,ST,Post Graduate,18477888.0,847000.0,1489790
2,Telangana,ADILABAD,0,INC,MALE,3,52.0,ST,12th Pass,36491000.0,15300000.0,1489790
3,Telangana,ADILABAD,0,NOTA,NaN,0,NaN,NaN,NaN,0.0,0.0,1489790
4,Uttar Pradesh,AGRA,1,BJP,MALE,5,58.0,SC,Doctorate,74274036.0,8606522.0,1937690

In [43]:
data=data.drop(data[data['PARTY']=='NOTA'].index)

In [44]:
data.head()

,STATE,CONSTITUENCY,WINNER,PARTY,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,TOTAL ELECTORS
0,Telangana,ADILABAD,1,BJP,MALE,52,52.0,ST,12th Pass,3099414.0,231450.0,1489790
1,Telangana,ADILABAD,0,TRS,MALE,0,54.0,ST,Post Graduate,18477888.0,847000.0,1489790
2,Telangana,ADILABAD,0,INC,MALE,3,52.0,ST,12th Pass,36491000.0,15300000.0,1489790
4,Uttar Pradesh,AGRA,1,BJP,MALE,5,58.0,SC,Doctorate,74274036.0,8606522.0,1937690
5,Uttar Pradesh,AGRA,0,BSP,MALE,0,47.0,SC,Post Graduate,133784385.0,22251891.0,1937690

In [45]:
data.isna().sum()

STATE                0
CONSTITUENCY         0
WINNER               0
PARTY                0
GENDER               0
CRIMINAL\r\nCASES    0
AGE                  0
CATEGORY             0
EDUCATION            0
ASSETS               0
LIABILITIES          0
TOTAL ELECTORS       0
dtype: int64

In [46]:
y= data['WINNER']
X=data.drop('WINNER',axis=1)

In [47]:
X=pd.get_dummies(X)

In [48]:
X.shape

(2018, 730)

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=30, stratify=y)

# SVM

In [50]:
from sklearn.svm import SVC  #SVC - Supoprt Vector Classifier
cls=SVC()

In [51]:
from sklearn.model_selection import GridSearchCV
parameters = {'kernel':['rbf']}

In [52]:
grid=GridSearchCV(cls, parameters,cv=5)
grid.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=SVC(), param_grid={'kernel': ['rbf']})

In [53]:
grid.best_params_

{'kernel': 'rbf'}

In [55]:
svclassifier=SVC(C=10,gamma=0.1,kernel='rbf',probability=True)
svclassifier.fit(X_train,y_train)

SVC(C=10, gamma=0.1, probability=True)

In [56]:
ypred=svclassifier.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,ypred)

0.7326732673267327

In [ ]:
#END