In [21]:
import pandas as pd

In [22]:
data = pd.read_csv("data/winequality.csv",sep=";")

In [23]:

data.shape

(4898, 12)

In [24]:

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [25]:
data.quality.unique()

array([6, 5, 7, 8, 4, 3, 9])

In [26]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [27]:
cormatrix=data.corr()['quality']

In [28]:
lowcorr=cormatrix[abs(cormatrix)<0.10].index
lowcorr

Index(['citric acid', 'residual sugar', 'free sulfur dioxide', 'pH',
       'sulphates'],
      dtype='object')

In [29]:
data.groupby('quality').count()['pH']

quality
3      20
4     163
5    1457
6    2198
7     880
8     175
9       5
Name: pH, dtype: int64

In [30]:
y=data['quality']
X=data.drop('quality',axis=1)
X=data.drop(lowcorr,axis=1)

In [42]:
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [31]:
X

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol,quality
0,7.0,0.27,0.045,170.0,1.00100,8.8,6
1,6.3,0.30,0.049,132.0,0.99400,9.5,6
2,8.1,0.28,0.050,97.0,0.99510,10.1,6
3,7.2,0.23,0.058,186.0,0.99560,9.9,6
4,7.2,0.23,0.058,186.0,0.99560,9.9,6
...,...,...,...,...,...,...,...
4893,6.2,0.21,0.039,92.0,0.99114,11.2,6
4894,6.6,0.32,0.047,168.0,0.99490,9.6,5
4895,6.5,0.24,0.041,111.0,0.99254,9.4,6
4896,5.5,0.29,0.022,110.0,0.98869,12.8,7
4897,6.0,0.21,0.020,98.0,0.98941,11.8,6

In [41]:
X.shape

(4898, 7)

In [32]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33,random_state=50)

In [33]:
X_train.shape

(3281, 7)

In [34]:
X_test.shape

(1617, 7)

In [35]:
y_train.shape

(3281,)

In [36]:
y_test.shape

(1617,)

In [37]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train,y_train)

/home/sumith/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
y_pred=classifier.predict(X_test)

In [39]:
y_pred

array([7, 5, 5, ..., 5, 6, 6])

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7396413110698825

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[  0,   0,   4,   0,   0,   0],
       [  0,   0,  57,   0,   0,   0],
       [  0,   0, 391,  81,   0,   1],
       [  0,   0,  53, 656,  28,  10],
       [  0,   0,   0, 133, 149,   2],
       [  0,   0,   0,   4,  48,   0]])